<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
	<title>Crossway - Moving Malawi!</title>

	<head>
		{% load bootstrap5 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
	</head>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Crossway</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Meet the team</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Guides & Information
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Sign up & Earn</a></li>
							<li><a class="dropdown-item" href="#">Passenger safety info</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">About Us</a></li>
							<li><a class="dropdown-item" href="#">Privacy Policy</a></li>
						</ul>
					</li>

				</ul>
				<div class="">
					<a class="btn bg-success text-white" href="#">Get The App</a>
				</div>


			</div>
		</div>
	</nav>
	{% block content %}

	{% endblock content %}
	<!-- <script src="{% static 'js/script.js' %}"></script> -->
</body>

</html>